body{
    background-image: linear-gradient(#343a40,#171b1f);
    background-color: #343a40;
}
.articleForm{
    background-color: #343a40;
    color:rgb(236, 225, 212)
}
.articulo{
    display: flex;
    background-color: #343a40;
}
.p{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(#171b1f,#3d4349);
    position: relative;
    text-align: center;
    
    color:rgb(236, 225, 212);
   
}
@mixin sizes{

}
.welcome{
   padding: 15px;
   margin: 15px;
   background-image: linear-gradient(#202224,#151617);
}
.bePart{
    background-image: linear-gradient(#0b0d10,#181c20);
}

.info{
    color:rgb(236, 225, 212);
}
.container {
    position: relative;
    text-align: center;
    color: rgb(236, 225, 212);
  }
  .carousel{
      overflow: hidden;
      height: 90vh;
    
  }
  .productos{
      height: 300px;
      width: 300px;
  }
  .h3
{
    background-image: linear-gradient(rgb(236, 225, 212),rgb(155, 130, 102));
}
h2{
    color:rgb(236, 225, 212)
}

.boton{
    width: 100px;
    height: 50px;
    background-color: rgb(35, 35, 39);
    color: rgb(104, 154, 110);
    border-radius: 20px;
    border: 1px solid rgb(16, 15, 20);
}
.boton--clear{
    @extend .boton;
    color: rgb(113, 122, 156)
}
.boton--cancel{
    @extend .boton;
    color: rgb(196, 111, 111);
}
